html {
    overflow-y: hidden !important;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

body,
html {
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: 400;
    animation-name: showMenu;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .6s;
}

body {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    flex-direction: row;
    background: #dedede;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    min-width: 0;
    flex-direction: column;
    flex: 1;
}


/*FLEX DISPLAY*/

body,
.raph-navbar,
.raph-socials,
.menu-opener__icon,
raph-navbar__tools,
raph-socials__tools,
raph-navbar__title,
raph-navbar_links,
raph-navbar_links__link,
raph-wrapper,
raph-wrapper__content,
content-pre,
content-medias,
content-medias>twitch,
content-medias>youtube,
content-medias>twitter,
twitch-video-container,
youtube-video-container,
twitch {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

raph-navbar__tools,
raph-navbar__title,
raph-navbar_links__link,
content-pre,
content-medias {
    flex-direction: row;
    align-content: center;
    align-items: center;
}


/* aligne items center, center*/

raph-navbar__title,
raph-navbar_links__link,
content-pre,
content-medias {
    justify-content: center;
}


/* aligne items start, center*/

raph-navbar__tools {
    justify-content: flex-start;
}

.raph-navbar,
.raph-socials {
    background-color: rgba(255, 255, 255, .87);
    color: #202020;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    transition-property: background-color, fill, color;
    z-index: 100;
}

.raph-navbar {
    flex-direction: column;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.raph-socials {
    flex-direction: column;
    box-shadow: -9px 9px 6px 0 rgb(0 0 0 / 14%);
}

@media (min-width: 0) and (max-width: 959px) and (orientation: portrait) {
    .raph-navbar,
    .raph-socials {
        min-height: 56px;
    }
}

raph-navbar__tools,
raph-socials__tools {
    font-size: 20px;
    letter-spacing: .005em;
    font-weight: 400;
    width: 100%;
    margin: 0;
    max-width: 100%;
}

raph-navbar__tools {
    padding: 0 16px;
    transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}

@media (min-width: 0) and (max-width: 959px) and (orientation: portrait) {
    raph-navbar__tools {
        flex-direction: column;
    }
}

raph-navbar__title {
    transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);
    font-size: 4.4vh;
    height: 100px;
    line-height: 100px;
    flex: 1;
    max-width: 100%;
}

raph-navbar__title object {
    margin-right: 20px;
}

raph-navbar__title object,
.raph-navbar-show raph-navbar__title object {
    height: 100%;
}

.raph-navbar-hide raph-navbar__title object {
    height: 20px;
}

@media (min-width: 0) and (max-width: 959px) and (orientation: portrait) {
    .raph-navbar-hide {
        height: 24px;
        min-height: 24px;
    }
    .raph-navbar-hide raph-navbar__title object {
        height: 40px;
    }
    raph-navbar__tools,
    .raph-navbar-show raph-navbar__tools {
        height: 56px;
        max-height: 56px;
    }
    .raph-navbar-hide raph-navbar__tools {
        height: 24px;
        max-height: 24px;
    }
    .raph-navbar-hide raph-navbar__title {
        height: 24px;
        line-height: 24px;
    }
    raph-navbar__title,
    .raph-navbar-show raph-navbar__title {
        height: 28px;
        line-height: 28px;
    }
    .raph-navbar-hide raph-navbar_links {
        display: none;
    }
}

@media (min-width: 1000px) and (orientation: landscape) {
    .raph-navbar-hide raph-navbar__title object {
        height: 20px;
    }
    raph-navbar__tools,
    .raph-navbar-show raph-navbar__tools {
        height: 120px;
        max-height: 120px;
    }
    .raph-navbar-hide raph-navbar__tools {
        height: 20px;
        max-height: 20px;
    }
}

.raph-navbar-hide raph-navbar__title {
    font-size: 2.4vh;
}

raph-navbar_links {
    flex-direction: row;
    height: 100%;
    align-content: center;
    align-items: center;
    max-width: 100%;
    justify-content: flex-end;
}

raph-navbar_links__link {
    flex: 0 0 auto;
    padding: 0 10px;
    max-width: 100%;
    height: 100%;
}

@media (min-width: 0) and (max-width: 959px) and (orientation: portrait) {
    raph-navbar__tools {
        padding: 0 2px;
    }
    raph-navbar_links {
        font-size: 1.3vh;
    }
    raph-navbar_links__link {
        padding: 0 2.5px;
    }
}

raph-navbar_links__link:not([selected]) {
    color: #a9a9a9;
}

raph-navbar_links__link[selected] {
    background-color: #48c0f4;
    color: rgba(255, 255, 255, .87);
}

raph-socials__tools {
    flex-direction: column;
    padding: 16 0;
}

menu-opener {
    position: relative;
}

.menu-opener__icon {
    margin: 0;
    min-width: 0;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    transition-property: background-color, fill, color;
    z-index: 80;
    background: #fff;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    min-height: 36px;
    min-width: 88px;
    line-height: 36px;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    border-radius: 2px;
    user-select: none;
    outline: 0;
    border: 0;
    padding: 0 6px;
    margin: 6px 8px;
    background: 0 0;
    color: currentColor;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    overflow: hidden;
    transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), background-color .4s cubic-bezier(.25, .8, .25, 1);
    letter-spacing: .010em;
}

raph-wrapper {
    min-width: 0;
    flex-direction: row;
    flex: 1;
    height: 100%;
}

raph-wrapper__content {
    min-width: 0;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}

raph-wrapper__content::-webkit-scrollbar,
raph-wrapper__content::-webkit-scrollbar:horizontal {
    background-color: transparent;
    width: 8px;
    height: 16px;
}

raph-wrapper__content::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #2CAB0A;
}

raph-wrapper__content::-webkit-scrollbar-thumb:window-inactive {
    background-color: rgba(59, 227, 13, .4);
}

raph-wrapper__content::-webkit-scrollbar-track {
    border-left: 0;
}

content-pre {
    background-image: url(images/background/running_background_cropped.png);
    height: 160px;
    background-position: bottom;
    background-size: cover;
    max-width: 100%;
    color: rgba(255, 255, 255, .87);
    font-size: 3em;
    padding: 15px;
    flex: 0 0 auto;
}

raph-presentation,
raph-links {
    background-color: white;
    color: rgba(0, 0, 0, .87);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    font-size: .9em;
    flex: 0 0 auto;
    position: relative;
    overflow: auto;
    min-height: 0;
    padding: 8px;
    margin-left: 0;
    margin-top: 8px;
}

raph-presentation img {
    float: left;
    margin: 0 10px 10px 0;
    align-self: baseline;
    width: 150px;
}

@media (min-width: 0) and (max-width: 959px) and (orientation: portrait) {
    raph-presentation {
        flex-direction: column;
    }
}

content-medias {
    min-height: 0;
    flex: 0 0 auto;
    background-color: white;
    max-width: 100%;
}

content-medias>twitch,
content-medias>youtube,
content-medias>twitter {
    flex-direction: column;
    margin: 8px;
}

twitch-video-container,
youtube-video-container {
    overflow: hidden;
    position: relative;
    height: 0;
    flex: 0 0 auto;
    flex-direction: column;
}

twitch-video-container iframe,
youtube-video-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

twitch {
    max-width: 33vw;
}

@media (min-width: 0) and (max-width: 959px) and (orientation: portrait) {
    twitch,
    youtube,
    twitter {
        flex: 0 0 auto;
    }
    twitch-video-container,
    youtube-video-container {
        padding-bottom: 177.78%;
    }
    twitch {
        max-width: 100vw;
    }
}

@media (min-width: 1000px) and (orientation: landscape) {
    twitch {
        max-width: 33vw;
    }
}

twitch {
    min-height: 0;
    flex: 0 0 auto;
    padding: 8px;
    margin-bottom: 40px;
    margin-top: 8px;
    background-color: white;
    flex: 0 0 auto;
    min-width: 0;
    width: 100%;
}

.raph-socials__icon object {
    height: 48px;
    width: 48px;
}

.raph-socials__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 2rem;
    width: 3rem;
    border-radius: 0.9rem;
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    margin: 0.5rem 0;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.raph-socials__icon * {
    cursor: pointer;
}

@keyframes showMenu {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#twitterFeed * {
    font-family: "Lato" !important;
}